# Dependencies
node_modules/

# Environment variables
.env

# Build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
metro-cache/

# Logs
*.log
npm-debug.log*
